# Template minimal arc.conf
# Created: {{ timestamp }}

[common]
{% if not host_cert %}
hostname={{ frontend_ip }}
{% else %}
hostname={{ hostname }}
{% endif %}

{% if not host_cert %}
x509_host_cert= {{ grid_security_path }}/{{ frontend_ip }}-cert.pem
{%  else  %}
x509_host_cert= {{ host_cert }}
{% endif %}
{% if not host_key %}
x509_host_key= {{ grid_security_path }}/{{ frontend_ip }}-key.pem
{%  else  %}
x509_host_key = {{ host_key}}
{% endif %}



{% for group in auth_groups %}
[authgroup:{{group}}]
{% for vo in auth_groups[group] %}
vomses={{vo}}
{% endfor %}
{% endfor %}


[mapping]
unixmap={{ grid_user }}:{{ grid_group }} all

[lrms]
lrms={{ lrms_type }}
{% if lrms_type == 'slurm' %}
slurm_bin_path = {{lrms_bin_path}}
{% elif lrms_type == 'condor' %}
condor_bin_path = {{lrms_path}}
condor_config = {{lrms_condor_config}}
{% elif lrms_type == 'pbs' %}
pbs_bin_path = {{lrms_path}}
{% elif lrms_type == 'sge' %}
sge_bin_path = {{lrms_path}}
sge_root = {{ sge_root }}
{% elif lrms_type == 'boinc' %}
boinc_bin_path = {{lrms_path}}
boinc_db_host = {{lrms_boinc_db_host}}
boinc_db_port = {{lrms_boinc_db_port}}
boinc_db_user = {{lrms_boinc_db_user}}
boinc_db_pass = {{lrms_boinc_db_pass}}
{% elif lrms_type == 'll' %}
ll_bin_path = {{lrms_path}}
{% elif lrms_type == 'lsf' %}
lsf_path = {{lrms_bin_path}}
{% elif lrms_type == 'dbridge' %}
dbridge_path = {{lrms_path}}
{% endif %}


[arex]
controldir={{ controldir }}
sessiondir={{ sessiondir }}

{% if log_rootdir != '/var/log/arc' %}
logfile={{ log_rootdir }}/arex.log
{% endif %}


{% if enable_emies  %}
[arex/ws]
{% if log_rootdir != '/var/log/arc' %}
logfile={{ log_rootdir }}/ws-interface.log
{% endif %}
[arex/ws/emies]
{% endif %}

{% if enable_gridftpd  %}
[gridftpd]
globus_tcp_port_range=9000-10000
globus_udp_port_range=9000-10000

{% if log_rootdir != '/var/log/arc' %}
logfile={{ log_rootdir }}/gridftpd.log
{% endif %}

[gridftpd/jobs]
{% endif %}


[infosys]
loglevel=3

[infosys/ldap]

[infosys/cluster]


[queue:{{ queue }}]


